<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sample Site</title>
    <link rel="stylesheet" type="text/css" href="../Stylesheets/index.css">
</head>
<body>


    <div class="container">
        <div class="jumbotron">
            <h1>Hello from Index.html!</h1>
            <p>Data from Java API: </p>
            <h2 id="header"></h2>
        </div>
    </div>

    <div class="searchForm">
        <form>
            <label id="author">Author: </label>
            <input for="author" type="text">
            <label id="bookTitle">Book Title: </label>
            <input for="bookTitle" type="text">
            <label id="city">City: </label>
            <input for="city" type="text">
            <button type="submit" id="search">Search</button>
        </form>

    </div>

    </div>

    <script>
        var request = new XMLHttpRequest();
        request.open('GET', 'http://localhost:8080/ProjectGutenberg/api/api/test', true);
        request.onload = function () {
            var data = JSON.parse(this.response);
            console.log(data);

            const h2 = document.getElementById('header');
            h2.textContent = data;
        }
        request.send();
    </script>
</body>

</html>