<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sample Site</title>
    <style>
        body {
            padding-top: 50px;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="jumbotron">
            <h1>Hello from Index.html!</h1>
            <p>Data from Java API: </p>
            <h2 id="header"></h2>
        </div>
    </div>
    </div>

    <script>
        var request = new XMLHttpRequest();
        request.open('GET', 'http://localhost:8080/ProjectGutenberg/api/api/test', true);
        request.onload = function () {
            var data = JSON.parse(this.response);
            console.log(data);

            const h2 = document.getElementById('header');
            h2.textContent = data;
        }
        request.send();
    </script>
</body>

</html>